#gallery {
  text-align: center;
}

.gallery-container {
  max-width: 800px;
  margin: auto;
}

.gallery-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.gallery-slides {
  position: relative;
  overflow: hidden;
}

.gallery-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.nav-buttons {
  margin-top: 20px;
}

button {
  background-color: #FF5733;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 10px;
}

button:hover {
  background-color: #e94e2e;
}

button:focus {
  outline: none;
}
