/* gallery.css */

/* Container for the slideshow */
.gallery-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden; 
    background-color: #f3f3f3; 
  }
  
  .gallery-title {
    text-align: center;
    font-size: 2rem;
    color: #526ab7;
    margin-bottom: 20px;
  }
  
  .gallery-slides {
    display: flex; 
    transition: transform 0.5s ease; 
  }
  
  .gallery-slide {
    min-width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  